{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">All Feedback</li>
    </ol>
  </nav>
  <h2 class="mb-3">All Feedback</h2> 
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for ind, feedback in all_feedback %}
          <tr>
            <td class="align-middle">{{ ind }}</td>
            <td class="align-middle">{{ feedback.message }}</td>
            <td class="text-right">
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No Feedback.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
