{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">All Orders</li>
    </ol>
  </nav>
  <h2 class="mb-3">All Orders</h2>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Customer</th>
          <th>Agent</th>
          <th>Status</th>
          <th>Payment Type</th>
          <th>Time of Delivery</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td class="align-middle"><a href="{% url 'executive:order' oid=order.id %}">{{ order.id }}</a></td>
            <td class="align-middle">{{ order.created }}</td>
            <td class="align-middle">{{ order.updated }}</td>
            <td class="align-middle">{{ order.customer }}</td>
            <td class="align-middle"><a href="{% url 'executive:viewagentprofile' aid=order.agent.id %}">{{ order.agent }}</a></td>
            <td class="align-middle">{{ order.get_order_status_display }}</td>
            <td class="align-middle">{{ order.get_payment_type_display }}</td>
            <td class="align-middle">{{ order.preferred_time }}</td>
            <td class="align-middle">Rs.{{ order.get_total_cost }}</td>
            <td class="text-right">
              {% if order.order_status != '4' and order.order_status != 'X'%}
              <a href="{% url 'executive:cancel_order' oid=order.id %}"><button type="submit" class="btn">Cancel Order</button></a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No orders have been placed yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
