{% extends 'exec_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Add Product</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'executive:home' %}" class="breadcrumb-link">My Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'executive:product' %}" class="breadcrumb-link">All Products</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->

                    <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <h5 class="card-header">Add A Product</h5>
                                <div class="card-body">
                                        <form method="post" enctype='multipart/form-data' novalidate>
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <div class="form-group">
                                               {{ field|as_crispy_field }}
                                             </div>
                                        {% endfor %}
                                        </table>
                                        <button type="submit" class="btn btn-success">Create</button>
                                      </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
}
$("#id_name").keyup(function(){
    var Text = $(this).val();
    $("#id_slug").val(convertToSlug(Text));    
});
</script>
{% endblock %}

