{% extends 'exec_base.html' %}
{% load static %}

{% block content %}
<!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">My Dashboard</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">My Dashboard</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            	<a href="{% url 'executive:product' %}">
	                                <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
	                                    <div class="card-body">
	                                        <h5 class="text-muted">Manage</h5>
	                                        <div class="metric-value d-inline-block">
	                                            <h1 class="mb-1">Products</h1>
	                                        </div>
	                                    </div>
	                                </div>
                            	</a>	
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            	<a href="{% url 'executive:category' %}">
	                                <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
	                                    <div class="card-body">
	                                        <h5 class="text-muted">Manage</h5>
	                                        <div class="metric-value d-inline-block">
	                                            <h1 class="mb-1">Categories</h1>
	                                        </div>
	                                    </div>
	                                </div>
                            	</a>	
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <a href="{% url 'executive:agentslist' %}">
                                 <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
                                       <div class="card-body">
                                           <h5 class="text-muted"> Manage </h5>
                                           <div class="metric-value d-inline-block">
                                               <h1 class="mb-1" id="incRequests">Agents</h1>
                                        </div>
                                       </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <a href="{% url 'executive:support' %}">
                                <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted"> Support </h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1" id="incRequests">Requests</h1>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                            
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
                    <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
                                <h5 class="card-header">Recent Orders</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table" style="text-align: center;">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">ID</th>
                                                    <th class="border-0">Date Created</th>
                                                    <th class="border-0">Date Updated</th>
                                                    <th class="border-0">Customer</th>
                                                    <th class="border-0">Agent</th>
                                                    <th class="border-0">Status</th>
                                                    <th class="border-0">Payment Type</th>
                                                    <th class="border-0">Time of Delivery</th>
                                                    <th class="border-0">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	{% for order in orders %}
                                                <tr>
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.created}}</td>
                                                    <td>{{ order.updated }}</td>
                                                    <td>{{ order.customer }}</td>
                                                    <td>{{ order.agent }}</td>
                                                    <td>{{ order.get_order_status_display }}</td>
                                                    <td>{{ order.get_payment_type_display }}</td>
                                                    <td></span>{{ order.preferred_time }}</td>
                                                    <td>₹ {{ order.get_total_cost }}</td>
                                                </tr>
                                                {% empty %}
										          <tr>
										            <td colspan="9" style="text-align: center;">No orders have been placed yet.</td>
										          </tr>
										        {% endfor %}
                                                <tr>
                                                    <td colspan="9"><a href="{% url 'executive:all_orders' %}" class="btn btn-brand float-right">Manage All Orders</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->
                        <!-- hover list  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
                                <h5 class="card-header">Manage</h5>
                                <div class="card-body">
                                    <div class="list-group">
                                        <a href="{% url 'executive:all_party_orders' %}" class="list-group-item list-group-item-action">Party Orders</a>
                                        <a href="{% url 'executive:subscriptions' %}" class="list-group-item list-group-item-action">Subscriptions</a>
                                        <a href="{% url 'executive:feedback_all' %}" class="list-group-item list-group-item-action">Feedback</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- ============================================================== -->
                            <!-- end hoverlist  -->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card card-figure has-hoverable border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Sales</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">₹{{sales}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            


{% endblock %}