{% extends 'exec_base.html' %}
{% load static %}

{% block content %}
<!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Subscriptions</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'executive:home' %}" class="breadcrumb-link">My Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Subscriptions</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <h5 class="card-header">All Subscriptions</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table" style="text-align: center;">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">Customer</th>
                                                    <th class="border-0">Subscription</th>
                                                    <th class="border-0">Number of cans unclaimed</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for sub in subs %}
                                                <tr>
                                                <td class="align-middle">{{ sub.customer }}</td>
                                                <td class="align-middle">{{ sub.subscription }}</td>
                                                <td class="align-middle">{{ sub.number_of_cans }}</td>
                                              </tr>
                                                {% empty %}
                                                <tr>
                                                  <td class="bg-light text-center font-italic" colspan="5">No subscriptions have been added yet.</td>
                                                </tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->

{% endblock %}