{% extends 'agent_base.html' %}
{% load static %}

{% block content %}
<!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Cancelled Orders</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'agent:home' %}" class="breadcrumb-link">My Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Cancelled Orders</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    
                    <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <h5 class="card-header">Cancelled Orders</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table" style="text-align: center;">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">ID</th>
                                                    <th class="border-0">Date Created</th>
                                                    <th class="border-0">Customer</th>
                                                    <th class="border-0">Status</th>
                                                    <th class="border-0">Payment Type</th>
                                                    <th class="border-0">Time of Delivery</th>
                                                    <th class="border-0">Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for order in orders %}
                                                <tr>
                                                    <td><a href="{% url 'agent:order' oid=order.id %}">{{ order.id }}</a></td>
                                                    <td>{{ order.created}}</td>
                                                    <td>{{ order.customer }}</td>
                                                    <td>{{ order.get_order_status_display }}</td>
                                                    <td>{{ order.get_payment_type_display }}</td>
                                                    <td></span>{{ order.preferred_time }}</td>
                                                    <td>₹ {{ order.get_total_cost }}</td>
                                                    <td class="text-right"></td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                  <td colspan="9" style="text-align: center;">No orders cancelled yet.</td>
                                                </tr>
                                              {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->

{% endblock %}