{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

	<!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({% static 'assets' %}/img/bg-img/big-1.jpg);">
        <div class="container h-100" style="padding-left: 5vw;">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h6>The Water Company</h6>
                        <h2>New Products In Store.</h2>
                        <a href="{% url 'shop:product_list' %}" class="btn essence-btn">Shop Now.</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({% static 'assets' %}/img/bg-img/bg-3.jpg);">
                        <div class="catagory-content">
                            <a href="{% url 'shop:product_list' %}">Tissues</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({% static 'assets' %}/img/bg-img/bg-2.jpg);">
                        <div class="catagory-content">
                            <a href="{% url 'shop:product_list' %}">Water</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({% static 'assets' %}/img/bg-img/bg-4.jpg);">
                        <div class="catagory-content">
                            <a href="{% url 'shop:product_list' %}">Misc.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

{% endblock %}