{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Order {{ items.first.order.id }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">Order {{ items.first.order.id }}</h2> 
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>{% if user.user_type == 3 %}
            <td class="align-middle"><a href="{% url 'executive:editproduct' pid=item.product.id %}">{{ item.product.name }}</a></td>
            {% elif user.user_type == 1 and item.available%}
            <td class="align-middle"><a href="{% url 'shop:product_detail' id=item.product.id slug=item.product.slug %}">{{ item.product.name }}</a></td>
            {% else %}
            <td class="align-middle">{{ item.product.name }}</td>
            {% endif %}
            <td class="align-middle">{{ item.quantity }}</td>
            <td class="align-middle">{{ item.price }}</td>
            <td class="align-middle">{{ item.get_cost }}</td>
            <td class="text-right">
              </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No orders have been placed yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
