{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <h2 class="mb-3 mt-100 ml-30">My Orders</h2> 
  <div class="card mr-50 ml-50 mb-30">
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Date Created</th>
          <th>Status</th>
          <th>Payment Type</th>
          <th>Time of Delivery</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td class="align-middle"><a href="{% url 'customer:order' oid=order.id %}">{{ order.id }}</a></td>
            <td class="align-middle">{{ order.created }}</td>
            <td class="align-middle">{{ order.get_order_status_display }}</td>
            <td class="align-middle">{{ order.get_payment_type_display }}</td>
            <td class="align-middle">{{ order.preferred_time }}</td>
            <td class="align-middle">Rs.{{ order.get_total_cost }}</td>
            <td class="text-right">
              {% if order.order_status == '1' %}
              <a href="{% url 'customer:cancel_order' oid=order.id %}"><button type="submit" class="btn">Cancel Order</button></a>
              {% elif order.order_status == '4' and not order.rated %}
              <a href="{% url 'customer:rate_order' oid=order.id %}"><button type="submit" class="btn">Rate Delivery</button></a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="7">No orders have been placed yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
{% endblock %}
