{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="{% static 'assets' %}/img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>About Us</h2>
                            <p>The Water Company is a part of the Repute Infotech and Enterprises Limited family. Our manufacturing plant is situated at Ulundai Village, Thiruvallur District about 45 kilometers away from Chennai.</p>
                            <p> The safe water source is naturally protected by the pollution free and greenish environment. Repute has its own trained workers and fleet of vehicles to carry out the distribution process in time without any additional cost for the customers. To put in a nut-shell, though the cost of our product is commensurate and nominal, the quality remains matchless and superior.</p>

                            <blockquote>
                                <h6><i class="fa fa-quote-left" aria-hidden="true"></i> You can't cross the sea merely by standing and staring at the water.</h6>
                                <span>Rabindranath Tagore</span>
                            </blockquote>

                            <p>Our manufacturing unit has an outstanding capacity of producing purified water and is handled by professionally skilled chemists, micro-biologists and experienced technicians.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->

{% endblock %}