{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{% block title %}The Water Company{% endblock %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'assets' %}/css/core-style.css">
    <link rel="stylesheet" href="{% static 'assets' %}/style.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav" style="padding-left: 0">
            	<!-- Back Button -->
                <div class="user-login-info">
                    <a href="javascript:window.history.go(-1);"><img src="{% static 'assets' %}/img/core-img/arrow-left.svg" alt=""></a>
                </div>
                <!-- Logo -->
                <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'assets' %}/img/core-img/logo.png" alt="" width="111"></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                        	{% if user.user_type == 1 %}
                            </li>
                            <li><a href="#">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'shop:product_list' %}">Products</a></li>
                                    <li><a href="{% url 'customer:party_order' %}">Party Order</a></li>
                                    <li><a href="{% url 'customer:subscriptions' %}">Subscribe</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'customer:myorders' %}">My Orders</a></li>
                                    <li><a href="{% url 'customer:my_subscriptions' %}">My Subscriptions</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'customer:support' %}">Contact</a></li>
                            {% else %}
                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                            <li><a href="{% url 'partner_with_us' %}">Partner With Us</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
            	{% if user.is_authenticated %}
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="{% url 'customer:editprofile' %}"><img src="{% static 'assets' %}/img/core-img/user.svg" alt=""></a>
                </div>
                <!-- Logout Area -->
                <div class="favourite-area">
                    <a href="{% url 'logout' %}"><img src="{% static 'assets' %}/img/core-img/power.png" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="{% static 'assets' %}/img/core-img/bag.svg" alt=""> <span>{{cart.get_total_items}}</span></a>
                </div>
                {% else %}
                <div class="user-login-info">
                    <a href="{% url 'login' %}">Login</a>
                </div>
                <div class="cart-area">
                    <a href="{% url 'signup' %}">Signup</a>
                </div>
                {% endif %}
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->
	
	{% if user.is_authenticated %}
	<!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="{% static 'assets' %}/img/core-img/bag.svg" alt=""> <span>{{cart.get_total_items}}</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
            	{% for item in cart %}
            	{% with product=item.product %}
                <!-- Single Cart Item -->
                <div class="single-cart-item">
                	<div class="product-image">
                        <img src="{{ MEDIA_URL}}{{product.image}}" onerror="if (this.src != '{{ MEDIA_URL}}product/default.jpg') this.src = '{{ MEDIA_URL}}product/default.jpg';" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
		                    <a href="{% url 'cart:cart_remove' product.id %}" title="Remove">
		                    	<span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
		                    </a>
		                    <a href="{{ product.get_absolute_url }}">
	                            <span class="badge">{{product.category.name}}</span>
	                            <h6>{{ product.name }}</h6>
	                            <p class="size">Price: {{ item.price }}</p>
	                            <p class="color">Quantity: {{item.quantity}}</p>
	                            <p class="price">₹{{ item.total_price }}</p>
		                    </a>
                        </div>
	                </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                    <li><span>delivery:</span> <span>Free</span></li>
                    <li><span>total:</span> <span>₹{{ cart.get_total_price }}</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                	<form action="{% url "orders:order_create" %}" method="post">
                		{% csrf_token %}
                		<input type="submit" value="Checkout" class="btn essence-btn">
	            	</form>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->
    {% endif %}
    <div style="min-height: 46vh">
    {% block content %}
	{% endblock %}
	</div>
	<!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="{% static 'assets' %}/img/core-img/logo2.png" alt="" width="125"></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                            	{% if user.user_type == 1 %}
		                        <li><a href="{% url 'shop:product_list' %}">Shop</a>
                                <li><a href="{% url 'feedback:feedback' %}">Feedback</a></li>
	                            <li><a href="{% url 'customer:support' %}">Contact</a></li>
                                {% else %}
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'feedback:feedback' %}">Feedback</a></li>
	                            <li><a href="{% url 'partner_with_us' %}">Partner With Us</a></li>
	                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | With <i class="fa fa-heart-o" aria-hidden="true"></i> by <span style="color: white">The<span style="color: cadetblue">Water</span>Company</span>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'assets' %}/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="{% static 'assets' %}/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'assets' %}/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="{% static 'assets' %}/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'assets' %}/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="{% static 'assets' %}/js/active.js"></script>

</body>

</html>