{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="{% static 'assets' %}/img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Frequently Asked Questions</h2>
                            <h6>Where do we store your data?</h6>
                            <p>
The data that we collect from you is stored within the European Economic Area (“EEA”) but may also be transferred to and processed in a country outside of the EEA. Any such transfer of your personal data will be carried out in compliance with applicable laws.

For transfers outside the EEA, The Water Company will use Standard Contractual Clauses and Shields as safeguards for countries without adequacy decisions from the European Commission.
</p><h6>
Who can access your data?</h6><p>
Your data may be shared within the The Water Company group (for details on the companies within the The Water Company group, please refer to our annual report which may be found at about.thewatercompany.com). We never pass on, sell or swap your data for marketing purposes to third parties outside the The Water Company group.

The local The Water Company company will only act as  the personal data processor and processes the personal data on behalf of the Swedish company.

Data that is forwarded to third parties, is only used to provide you with our services. You will find categories of third parties under every specific process below.
</p><h6>
What is the legal ground for processing?</h6><p>
For every specific process of personal data we collect from you, we will inform you whether the provision of personal data is statutory or required to enter a contract and whether it is an obligation to provide the personal data and possible consequences if you choose not to.
</p><h6>
What are your rights?</h6>
<h5>Right to access:</h5><p>
You have the right to request information about the personal data we hold on you at any time. You can contact The Water Company and we will provide you with your personal data via e-mail.</p>

<h5>Right to portability: </h5><p>
Whenever The Water Company processes your personal data, by automated means based on your consent or based on an agreement, you have the right to get a copy of your data transferred to you or to another party. This only includes the personal data you have submitted to us.
</p>
<h5>Right to rectification: </h5><p>
You have the right to request rectification of your personal data if the information is incorrect, including the right to have incomplete personal data completed.
</p>
<h6>Updates to our Privacy Notice:</h6>
We may need to update our Privacy Notice. The latest version of the Privacy Notice is always available on our website. We will communicate any material changes to the Privacy Notice, for example the purpose of why we use your personal data, the identity of the Controller or your rights.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->

{% endblock %}