section {
  background-color: #eeeeee; 
  position: relative;
  word-wrap: break-word; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.container,
.container-fluid {
  position: relative;
  word-wrap: break-word; }

a.mbr-iconfont:hover {
  text-decoration: none; }

body {
  color: #232323; 
  position: relative; 
}

.hidden {
  visibility: hidden; }

.mbr-z-index20 {
  z-index: 20; }

/*! Base colors */
.mbr-white {
  color: #ffffff; }

.mbr-black {
  color: #000000; }

.mbr-bg-white {
  background-color: #ffffff; }

.mbr-bg-black {
  background-color: #000000; }

/*! Text-aligns */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

@media (max-width: 767px) {
  .align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
    text-align: center; } }
/*! Font-weight  */
.mbr-light {
  font-weight: 300; }

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

/*! Media  */

.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start; }
  .media-container-row .media-size-item {
    width: 400px; }

.media-container-column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .media-container-column > * {
    width: 100%; }

@media (min-width: 992px) {
  .media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }
figure {
  overflow: hidden; }

.card {
  background-color: transparent;
  border: none; }

.card-img {
  text-align: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0; }

.media {
  max-width: 100%;
  margin: 0 auto; }

.mbr-figure {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center; }

.media-container > div {
  max-width: 100%; }

.mbr-figure img, .card-img img {
  width: 100%; }

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important; }

  .mbr-figure {
    width: 100% !important; } }
/*! Buttons */
.mbr-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  font-size: 0; }

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem; }

/*! Btn icon margin */
.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem; }

.btn.btn-md .mbr-iconfont, .btn.btn-md .mbr-iconfont {
  margin-right: 0.8rem; }

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh; }

.mbr-fullscreen {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem; }


/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 32px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  text-align: center; }
  .mbr-arrow-up a:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .mbr-arrow-up a i {
    line-height: 60px; }

.mbr-arrow-up-icon {
  display: block;
  color: #fff; }

.mbr-arrow-up-icon::before {
  content: "\203a";
  display: inline-block;
  font-family: serif;
  font-size: 32px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 50%;
    right: auto;
    transform: translateX(-50%) rotate(180deg);
    -webkit-transform: translateX(-50%) rotate(180deg); } }

.menu .navbar-brand {
  display: -webkit-flex; }
  .menu .navbar-brand span {
    display: flex;
    display: -webkit-flex; }
  .menu .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex; }
  .menu .navbar-brand .navbar-logo img {
    display: -webkit-flex; }

.nav-dropdown .link {
  padding: .667em 1.667em !important;
  margin: 0 !important; }

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap; }
